In [ ]:
# 1. VARIABLES

In [1]:
# 1. Create a variable named pi and store the value 22/7 in it. Now check the data type of this variable.
pi=22/7
print(type(pi))

<class 'float'>

In [2]:
# 2. Create a variable called for and assign it a value 4. See what happens and find out the reason behind the behavior that you see.
for=4
print(for)

SyntaxError: invalid syntax (2257245877.py, line 2)

In [3]:
# 3. Simple Interest
P=int(input("Enter the principal amount:"))
R=float(input("Enter the rate of interest:"))
T=int(input("Enter the time:"))
simple_interest=(P*R*T)/100
print("The simple interest:",simple_interest)

Enter the principal amount: 5000
Enter the rate of interest: 5
Enter the time: 2

The simple interest: 500.0

In [ ]:
# 2. NUMBERS

In [4]:
# 1.Octal Conversion
def to_octal(n):
    return format(n, 'o')

print(to_octal(145))

221

In [5]:
# 2. Water in a pond
def water(r):
    return int(3.14 * r * r * 1.4)

print("Answer:", water(84))

Answer: 31018

In [6]:
# 3. Speed Calculation
def speed(d, t):
    return int(d / (t * 60))

print("Speed: ",speed(490, 7))

Speed:  1

In [7]:
# 3. LISTS

In [8]:
def justice_league_tasks():
    jl = ["Superman", "Batman", "Wonder Woman", "Flash", "Aquaman", "Green Lantern"]
    print("1. Members count:", len(jl))

    jl += ["Batgirl", "Nightwing"]
    print("2. After adding Batgirl & Nightwing:", jl)

    jl.remove("Wonder Woman")
    jl.insert(0, "Wonder Woman")
    print("3. Wonder Woman moved to front:", jl)

    a = jl.index("Aquaman")
    f = jl.index("Flash")
    insert_hero = "Green Lantern" if "Green Lantern" in jl else "Superman"
    jl.remove(insert_hero)
    jl.insert(f if a < f else a + 1, insert_hero)
    print("4. Conflict separation (Aquaman & Flash):", jl)

    jl = ["Cyborg", "Shazam", "Hawkgirl", "Martian Manhunter", "Green Arrow"]
    print("5. New team assembled:", jl)

    jl.sort()
    print("6. Sorted list:", jl)
    print("New leader:", jl[0])

justice_league_tasks()

1. Members count: 6
2. After adding Batgirl & Nightwing: ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']
3. Wonder Woman moved to front: ['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']
4. Conflict separation (Aquaman & Flash): ['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']
5. New team assembled: ['Cyborg', 'Shazam', 'Hawkgirl', 'Martian Manhunter', 'Green Arrow']
6. Sorted list: ['Cyborg', 'Green Arrow', 'Hawkgirl', 'Martian Manhunter', 'Shazam']
New leader: Cyborg

In [9]:
# 4. IF CONDITION

In [10]:
# 1. BMI Category
def bmi_category():
    h = float(input("Enter height in meters: "))
    w = float(input("Enter weight in kilograms: "))
    bmi = w / (h * h)
    if bmi >= 30:
        print("Obesity")
    elif bmi >= 25:
        print("Overweight")
    elif bmi >= 18.5:
        print("Normal")
    else:
        print("Underweight")

bmi_category()

Enter height in meters:  1.75
Enter weight in kilograms:  70

Normal

In [11]:
# 2. Country and cities
def find_country():
    a = ["Sydney", "Melbourne", "Brisbane", "Perth"]
    u = ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"]
    i = ["Mumbai", "Bangalore", "Chennai", "Delhi"]
    city = input("Enter a city name: ")
    if city in a:
        print(f"{city} is in Australia")
    elif city in u:
        print(f"{city} is in UAE")
    elif city in i:
        print(f"{city} is in India")
    else:
        print("City not found")

find_country()

Enter a city name:  Bangalore

Bangalore is in India

In [13]:
# (3) Check of relation between Cities and count
def same_country():
    c1 = input("First city: ")
    c2 = input("Second city: ")
    a = ["Sydney","Melbourne","Brisbane","Perth"]
    u = ["Dubai","Abu Dhabi","Sharjah","Ajman"]
    i = ["Mumbai","Bangalore","Chennai","Delhi"]
    if c1 in a and c2 in a: print("Both in Australia")
    elif c1 in u and c2 in u: print("Both in UAE")
    elif c1 in i and c2 in i: print("Both in India")
    else: print("Different countries")

same_country()

First city:  Sydney
Second city:  Chennai

Different countries

In [ ]:
# 5. For Loop

In [15]:
# 1. Die
import random

def roll_stats():
    rolls = [random.randint(1, 6) for _ in range(20)]
    print("Rolls:", rolls)
    s = rolls.count(6)
    o = rolls.count(1)
    r = sum(1 for i in range(len(rolls)-1) if rolls[i] == 6 and rolls[i+1] == 6)
    print("6s:", s, "| 1s:", o, "| Two 6s in a row:", r)

roll_stats()

Rolls: [2, 5, 4, 4, 3, 5, 1, 6, 3, 1, 2, 3, 3, 6, 2, 4, 2, 1, 1, 4]
6s: 2 | 1s: 4 | Two 6s in a row: 0

In [16]:
# 2. Workout Routine
def workout():
    done = 0
    while done < 100:
        done += 10
        print(f"{done} done")
        if input("Tired? ").lower() in ["y", "yes"]:
            if input("Skip rest? ").lower() in ["y", "yes"]:
                print(f"Total: {done}")
                break
    else:
        print("Congrats! Workout complete")

workout()

10 done

Tired?  yes
Skip rest?  yes

Total: 10

In [17]:
# 6. Dictionary

In [18]:
# 1. Friend's Name and lenght of tuple
def name_lengths():
    f = ["Aditya", "Sneha", "Kiran", "Megha", "Ravi"]
    print([(x, len(x)) for x in f])

name_lengths()

[('Aditya', 6), ('Sneha', 5), ('Kiran', 5), ('Megha', 5), ('Ravi', 4)]

In [19]:
# 2. Partner Trip Expenses
def trip():
    y = {"Hotel":1200,"Food":800,"Trans":500,"Attract":300,"Misc":200}
    p = {"Hotel":1000,"Food":900,"Trans":600,"Attract":400,"Misc":150}
    yt, pt = sum(y.values()), sum(p.values())
    print("You:", yt, "| Partner:", pt)
    print("You spent more" if yt > pt else "Partner spent more" if pt > yt else "Equal")
    d = {k: abs(y[k]-p[k]) for k in y}
    m = max(d, key=d.get)
    print("Big difference:", m, d[m])

trip()

You: 3000 | Partner: 3050
Partner spent more
Big difference: Hotel 200

In [20]:
# 8. Classes and Objects

In [21]:
class Avenger:
    def __init__(s,n,a,g,p,w): s.n=n; s.a=a; s.g=g; s.p=p; s.w=w
    def info(s): print(f"{s.n} | {s.p} | {s.w}")
    def is_leader(s): return s.n=="Captain America"

def show():
    h=[
        Avenger("Captain America",100,"M","Super Strength","Shield"),
        Avenger("Iron Man",48,"M","Technology","Armor"),
        Avenger("Black Widow",35,"F","Superhuman","Batons"),
        Avenger("Hulk",49,"M","Unlimited Strength","No Weapon"),
        Avenger("Thor",1500,"M","Super Energy","Mjölnir"),
        Avenger("Hawkeye",41,"M","Fighting Skills","Bow and Arrows")
    ]
    for x in h:
        x.info()
        print("Leader:", "Yes" if x.is_leader() else "No")

show()

Captain America | Super Strength | Shield
Leader: Yes
Iron Man | Technology | Armor
Leader: No
Black Widow | Superhuman | Batons
Leader: No
Hulk | Unlimited Strength | No Weapon
Leader: No
Thor | Super Energy | Mjölnir
Leader: No
Hawkeye | Fighting Skills | Bow and Arrows
Leader: No

In [22]:
# 9. Inheritance

In [23]:
class Mobile:
    def __init__(s, m, f, r, ram, sto): s.m=m; s.f=f; s.r=r; s.ram=ram; s.sto=sto
    def call(s): print("2.", s.m, "is calling...")
    def pic(s): print("3.", s.m, "photo with", s.f, "/", s.r)
    def info(s): print("1.", s.m, "|", s.ram, "RAM |", s.sto, "Storage")

class Apple(Mobile): pass
class Samsung(Mobile): pass

a1 = Apple("iPhone 12", "12MP", "48MP", "4GB", "64GB")
s1 = Samsung("Galaxy S21", "16MP", "48MP", "4GB", "64GB")

for p in [a1, s1]: p.info(); p.call(); p.pic(); print()

1. iPhone 12 | 4GB RAM | 64GB Storage
2. iPhone 12 is calling...
3. iPhone 12 photo with 12MP / 48MP

1. Galaxy S21 | 4GB RAM | 64GB Storage
2. Galaxy S21 is calling...
3. Galaxy S21 photo with 16MP / 48MP